@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  line-height: 1.5;
  color: #555;
}

h1, h2, strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

code, pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
  color: #e81c4f;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}

.front-wrapper {
    overflow: hidden;
    margin-top: 50px;
    text-align: center;
}

.nav-wrapper {
    height: 450px;
    background-image: url("../imgs/money.jpg");
    margin-bottom: 60px;
}

.detect-form > .form-control {
    border-radius: 6px 6px 0 0;
    height: 60px;
}

.title-div {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.detect-span {
    color: #FDD87F;
    display: block;
    font-size: 5vw;
    font-weight: bold;
    background-color: black;
    box-shadow: 12px 12px 0px #555;
}

.detect-span-details {
    color: white;
    font-size: 2.5vw;
    text-shadow: 2px 2px 25px #555;
}

.coin-img {
    width: 100px;
}

.check-btn {
    border-radius: 0 0 6px 6px;
    background-color: #ff4742;
}

.check-btn:hover {
    background-color: #FD0101;
}

.second-row {
    padding: 50px;
}

.second-form-div {
    padding: 40px;
    background-color: #edeff1;
    border-radius: 6px;
}

#remind-span {
    font-size: 2vw
}

.intro-img {
    width: 35%;
}

.intro {
    text-align: center;
}

.intro-span-title {
    font-size: 2.5vw;
}
