.nav-wrapper {
    height: 100vh;
}

.front-wrapper {
    overflow: hidden;
    text-align: center;
}

.form-control {
    height: 50px;
}

.front-container {
    margin-top: 80px;
}

.title-div {
    padding: 10px;
    margin-bottom: 50px;
}

.detect-span {
    color: white;
    display: block;
    white-space: nowrap;
    font-size: 4vw;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}

.details-span {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5vw;
    color: white;
    font-weight: 100;
}

.detect-span-details {
    color: white;
    font-size: 2.5vw;
    text-shadow: 2px 2px 25px #555;
}

.coin-img {
    width: 100px;
}

.check-btn {
    font-weight: bold;
}

.check-btn:hover {
}

.second-row {
    padding: 50px;
}

.second-form-div {
    padding: 40px;
    background-color: #edeff1;
    border-radius: 6px;
}

#remind-span {
    font-size: 2vw
}

.front-div {
    padding: 20px 20px 50px 20px;
    background: #f1f1f1;
    box-shadow: 12px 12px 0px #555;
}

.money-span {
    font-size: 12vw;
    color: #555;
}

.money-div {
    background: white;
    padding: 20px;
}

.money-span {
    display: block;
}

.first-icon, .second-icon, .third-icon {
    padding: 50px;
}

.check-btn {
    margin-right: 10px;
}
