.intro-img {
    width: 35%;
}

.intro {
    text-align: center;
    padding-bottom: 100px;
    background-color: white;
}

.intro-span-title {
    font-size: 2.5vw;
    padding-top: 0px;
    margin-top: 0px;
}

.icon-group {
    margin-bottom: 80px;
}

.works-gif-title {
    padding-top: 0px;
}

.works-gif-video {
    margin-bottom: 50px;
}

#youtube-iframe {
    width: 100%;
    min-height: 400px;
}

.youtube-div {
    margin-top: 50px;
    margin-bottom: 50px;
}
