{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    {% block styles %}
    <link rel="shortcut icon" href="{% static 'imgs/notes.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/css_lib/nromalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/css_lib/flat-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    <title>
    {% block title %}{% endblock %}
    </title>
  </head>

  <body>
    <div class="nav-wrapper">
      {% block nav %}
      <nav class="navbar navbar-default base-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-button" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DO I OWE</a>
          </div>
          <div id="nav-button" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="mailto:contact@doiowe.com?subject=Hello">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav">
              <li>
                <a target="_blank" href="https://twitter.com/doiowe"><i class="fa fa-2x fa-twitter"></i> Follow on Twitter</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav> <!-- end nav -->
      {% endblock %}

    {% block content %}
    {% endblock %}
    </div>
  
  {% block scripts %}
  <script src="{% static 'js/js_lib/jquery.min.js' %}"></script>
  <script src="{% static 'js/js_lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/js_lib/flat-ui.min.js' %}"></script>
  <script src="{% static 'js/js_lib/typed.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  {% endblock %}

  {% block extra_scripts %}
  {% endblock %}

  </body>
  
  {% block footer %}
  {% endblock %}

</html>
