{% extends "base.html" %}
{% load staticfiles %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/front.css' %}" />
{% endblock %}

{% block title %}Who Owe You Money?{% endblock %} 

{% block content %}
<div class="front-container container">
  <div class="front-row row">
    <div class="front-wrapper">
      <div class="title-div col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
          <span class="detect-title">Do I Owe</span>
          <span class="detect-span"></span>
          <span class="details-span">Sometimes you just forget that you owe your friends money. <br> Enter email to check if someone has attempted to remind you.</span>
      </div>
      <div class="input-div col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
        <div class="form-group">
          <input type="email" placeholder="your@email.com" id="check-email" class="form-control"/>
        </div> <!-- end form-group -->
      </div> <!-- end input-div -->
      <div class="btn-div col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
        <button class="check-btn btn btn-primary btn-lg col-xs-12 col-md-4 col-md-offset-2">Check</button>
        <a href="/how/" class="btn btn-inverse btn-lg col-xs-12 col-md-4">How This Works</a>
      </div> <!-- end btn-div -->
    </div> <!-- end front-wrapper -->
  </div> <!-- end front-row -->
</div> <!-- end front-container -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/frontpage.js' %}"></script>
<script>
    var typed3 = new Typed('.detect-span', {
        strings: [
            '&#x261e; Jessica <i>100 dollars</i>?', '&#x261e; Vincent <i>200 dollars</i>?',
        ],
        typeSpeed: 60,
        backSpeed: 40,
        smartBackspace: true, // this is a default
    });

    $(document).ready(function(){
        $(".check-btn").on("click", function(){
            var email = $("#check-email").val();
            submit_check(email); 
        });

        $(".front-wrapper").on("click", '.sub-btn', function(){
            var email = $(".sub-input").val();
            submit_sub(email);
        });

        $(".front-wrapper").on("click", '.notice-btn', function(){
            var email = $("#hidden-email").val();
            show_owe_form($(".front-wrapper"), email);
        });

        $(".front-wrapper").on("click", '.add-btn', function(){
            var lend = $("#hidden-email").val();
            var email = $("#add-email").val();
            var money = $("#add-money").val();
            var reason = $("#add-reason").val();
            add_owe_friend(lend, email, money, reason);
        });
    });  
</script>
{% endblock %}
