{% extends "base.html" %}
{% load staticfiles %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/front.css' %}" />
{% endblock %}

{% block title %}Who Owe You Money?{% endblock %} 

{% block content %}
<div class="nav-wrapper">
  <div class="front-container container">
    <div class="front-row row">
      <div class="front-wrapper">
        <div class="title-div col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
          <span class="detect-span">DO YOU OWE MONEY?</span>
          <span class="detect-span-details">Check if you owe your friends money</span>
        </div>
        <div class="front-div col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
          <div class="detect-form form-group">
            <input type="email" value="" placeholder="Enter Your Email" class="form-control" />
            <button class="check-btn btn btn-danger btn-lg btn-block">CHECK NOW</button>
          </div> <!-- end detect-form -->
        </div> <!-- end front-div -->
      </div> <!-- end front-wrapper -->
    </div> <!-- end front-row -->
  </div> <!-- end front-container -->
</div> <!-- end nav-wrapper -->
<div class="second-wrapper">
  <div class="second-container container">
    <div class="second-row row col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
      <div class="second-form-div">
        <form class="second-form">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email input" />
          </div> <!-- end form-group -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="How much " />
          </div> <!-- end form-group -->
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Why and When " />
          </div> <!-- end form-group -->
        </form>
      </div> <!-- end second-form-div -->
    </div> <!-- end second-row -->
  </div> <!-- end second-container -->
</div> <!-- end second-wrapper -->
{% endblock %}

{% block extra_scripts %}
{% endblock %}
