{% extends "base.html" %}
{% load staticfiles %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/front.css' %}" />
{% endblock %}

{% block title %}Who Owe You Money?{% endblock %} 

{% block content %}
<div class="nav-wrapper">
  <div class="front-container container">
    <div class="front-row row">
      <div class="front-wrapper">
        <div class="title-div col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
          <span class="detect-span">DO YOU OWE MONEY?</span>
        </div>
        <div class="front-div col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
          <div class="detect-form form-group">
            <input type="text" value="" placeholder="Enter Your Name    (We use your name to notice your firends.)" id="check-name" class="form-control" />
          </div>
          <div class="detect-form form-group">
            <input type="email" value="" placeholder="Enter Your Email    (We will not send spam emails.)" id="check-email" class="form-control" />
          </div> <!-- end detect-form -->
            <button class="check-btn btn btn-primary btn-lg btn-block">CHECK NOW</button>
            <a href="/how/" class="how-work">How this work?</a>
        </div> <!-- end front-div -->
      </div> <!-- end front-wrapper -->
    </div> <!-- end front-row -->
  </div> <!-- end front-container -->
</div> <!-- end nav-wrapper -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/frontpage.js' %}"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    $(document).ready(function(){
        $(".check-btn").on("click", function(){
            var name = $("#check-name").val();
            var email = $("#check-email").val();
            submit_check(name, email); 
        });
    });  
</script>
{% endblock %}
