{% extends "base.html" %}
{% load staticfiles %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/intro.css' %}" />
{% endblock %}

{% block title %}Do I Owe Money?{% endblock %} 

{% block content %}
<div class="intro container">
  <div class="row">
    <div class="works-gif">
      <h3 class="works-gif-title">HOW TO USE IT</h3>
      <div class="youtube-div col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
        <iframe id="youtube-iframe" src="https://www.youtube.com/embed/qHTsxdP61DE?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="first-icon icon-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="intro-img rounded-circle" src="{% static 'imgs/dollar.png' %}" alt="dollar" />
      </div> <!-- end col-xs-12 -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2 class="intro-span-title">CHECK</h2>
        <p class="intro-span-p">Sometimes you just forget that you owe your friends money, and they don't want to ask you directly. Simply submit your email to find out if someone has attempted to remind you.</p>
      </div> <!-- end col-xs-12 -->
    </div> <!-- end first-icon -->
    <div class="second-icon icon-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="intro-img rounded-circle" src="{% static 'imgs/networking.png' %}" alt="networking" />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2 class="intro-span-title">ADD</h2>
        <p class="intro-span-p">Remind your friends to pay back in a polite way. If they have already joined OWE, they will be notified. If they haven't, share OWE on the social media or directly to your friends!</p>
      </div> <!-- end col-xs-12 -->
    </div> <!-- end second-icon -->
    <div class="third-icon icon-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="intro-img rounded-circle" src="{% static 'imgs/twitter.png' %}" alt="twitter" />
      </div> <!-- end col-xs-12 -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2 class="intro-span-title">SHARE</h2>
        <p class="intro-span-p">With more people joined, more power the website will get OWE as a tool becomes more efficient and helpful when more people join. Your simple act of sharing the site may help more than you think.
      </div> <!-- end col-xs-6 -->
    </div> <!-- end third-icon -->
  </div> <!-- /.row -->
</div> <!-- end intro -->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/frontpage.js' %}"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
</script>
{% endblock %}
